<!-- 显示文章内容 -->
<div>
	<h2><%= @article.title %></h2>
	<p><%= @article.content %></p>
</div>

<!-- 显示评论 -->
<br/>
<h4><%= @article.comments_count %>条评论</h4>
<% for comment in @comments %>
	<p><%= comment.author %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=comment.updated_at.strftime('%Y-%m-%d %H:%M') %></p>
	<p><%=comment.content %></p>
	<hr/>
<% end %>

<!-- 发表评论 -->
<div>
	<h4>发表评论 
		<small>
			<a rel="nofollow" id="cancel-comment-reply-link" href="/what-are-the-most-common-lies-told-by-programmers/#respond" style="display:none;">取消回复</a>
		</small>
	</h4>
	
	<%= form_tag("/comments/create", :method => "post") do |f| %>
		<p class="comment-notes">电子邮件地址不会被公开。
		</p>
		<p>
			<label for="author">姓名</label>
			<input id="author" name="comment[author]" type="text" class="input-xlarge" aria-required='true' />
		</p>
		<p>
			<label for="email">电子邮件</label>
			<input id="email" name="comment[email]" type="text" class="input-xlarge" aria-required='true' />
		</p>
		<p>
			<label for="url">站点</label>
			<input id="url" name="comment[website]" type="text" class="input-xlarge" />
		</p>
		<p>
			<label for="comment">评论</label>
			<textarea id="content" name="comment[content]" class="span5" rows="8" aria-required="true"></textarea>
		</p>
		<input type="hidden" name="comment[article_id]" value="<%=@article.id%>" />
		
		<p>
			<input type="submit" value="发表评论" class="btn btn-info"/>
		</p>				
	<% end %>
</div>
