<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:error] %></p>
  </div>
  <% elsif flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class='page-header'>
  <h2>Manage Categories</h2>
</div>

<%= form_for(Category.new, :url => "new", :html => { :class => "form-inline"}) do |f| %>
  <%= f.label '新增文章分类：' %>
  <%= f.text_field :name, :class => "input-large", :placeholder=>"请输入名称" %>
  <%= f.submit "提交", :class=> "btn btn-primary" %>
<% end %>

<table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>文章数量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for category in @categories %>
      <tr>
        <td><%= category.name %></td>
        <td>2</td>
        <td><a href="#"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
            <a href="delete/<%=category.id%>"><i class="icon-trash"></i>
            </td>
        <td name="edit_td" colspan='3'>
          <%= form_for(category, :url=>"update", :html => {:class=>"input-append"}) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.text_field :name, :class => "span3" %>
            <%= f.submit "提交", :class=> "btn btn-primary" %>
            <button name="cancel_button" class="btn" type="button">取消</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<script type="text/javascript">
$(document).ready(function(){
  
  // 页面初始化时隐藏编辑表单
  $("td[name='edit_td']").hide();
  
  // 点击编辑按钮，显示编辑表单
  $(".icon-pencil").click(function(){

    $(this).parent().parent().parent().children("td:lt(4)").hide();
    $(this).parent().parent().parent().children("td:last").show();

  });

  // 点击编辑表单上的取消按钮，隐藏编辑表单
  $("button[name='cancel_button']").click(function(){
    
    $(this).parent().parent().parent().children("td:lt(4)").show();
    $(this).parent().parent().parent().children("td:last").hide();

  });
});



function cancel_edit() {
    alert("ok");
    //$(this).parent().parent().parent().html(show_line);
  }
</script>