<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:error] %></p>
  </div>
  <% elsif flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class='page-header'>
  <h2>Manage Categories</h2>
</div>

<%= form_for(Category.new, :url => "new", :html => { :class => "form-inline"}) do |f| %>
  <%= f.label '新增文章分类：' %>
  <%= f.text_field :name, :class => "input-large", :placeholder=>"请输入名称" %>
  <%= f.submit "提交", :class=> "btn btn-primary" %>
<% end %>

<table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>文章数量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for category in @categories %>
      <tr>
        <td><%= category.name %></td>
        <td>2</td>
        <td><a href="#myModal" data-toggle="modal"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
            <a href="delete" data-toggle="modal"><i class="icon-trash"></i>
              <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>