<% if flash[:error] %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:error] %></p>
  </div>
  <% elsif flash[:notice] %>
  <div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a> 
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class='page-header'>
  <h2>Manage Categories</h2>
</div>

<%= form_for(Category.new, :url => "new", :html => { :class => "form-inline"}) do |f| %>
  <label>新增文章分类：</label>
  <%= f.text_field :name, :class => "input-large", :placeholder=>"请输入名称" %>
  <%= f.submit "提交", :class=> "btn btn-primary" %>
<% end %>

<table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>文章数量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for category in @categories %>
      <tr>
        <td><%= category.name %></td>
        <td>2</td>
        <td><a href="#"><i class="icon-pencil"></i></a>&nbsp;&nbsp;
            <a href="delete/<%=category.id%>"><i class="icon-trash"></i>
            </td>
        <td id="edit_td_<%=category.id%>" colspan='3'>
          <form id="edit_form" class="input-append">
            <input name="id" type="hidden" value="<%=category.id%>"/>
            <input id="category_name" name="name" type="text" class="span3" value="<%=category.name%>"/>
            <button type="submit" class="btn btn-primary">提交</button>
            <button name="cancel_button" class="btn" type="button">取消</button>
          </form>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  

<script type="text/javascript">
$(document).ready(function(){
  
  // 页面初始化时隐藏编辑表单
  $("td[id^='edit_td_']").hide();
  
  // 点击编辑按钮，显示编辑表单
  $(".icon-pencil").click(function(){

    $(this).parent().parent().prevAll().andSelf().hide();
    $(this).parent().parent().next().show();
    $(this).parent().parent().next().find("input#category_name").focus();

  });

  // 点击编辑表单上的取消按钮，隐藏编辑表单
  $("button[name='cancel_button']").click(function(){
    
    $(this).parent().parent().prevAll().show();
    $(this).parent().parent().hide();

  });

  // 编辑 AJAX
  $('#edit_form').submit(function(e){

    $.ajax({

      type: "post",

      url: "update",

      data: $(this).serialize(),

      dataType: "json",

      beforeSend: function(XMLHttpRequest){

      },

      success: function(data, textStatus){

        var edit_td = $("#edit_td_" + data.id);

        edit_td.hide();
        edit_td.prev().prev().prev().html(data.name)
        edit_td.prevAll().show();
      },

      error: function(){

      },

      complete: function(XMLHttpRequest, textStatus){

      }
    });
    return false;
  });
});
</script>