<div class='container'>
<div class='row'>
  <div class="span4 offset4">
    <div class="well">

      <%= form_tag :action=> "login" do %>

        <h2><%= "Login" %></h2>
        
        <% if flash[:error] %>
        
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">x</button>
          <p><%= flash[:error] %></p>
        </div>
      
        <% elsif flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <p><%= flash[:notice] %></p>
        </div>
        <% end %>
        
        <%= text_field(:user, :username, :placeholder => "login")%>
        
        <%= password_field(:user, :password, :placeholder => "password")%>
        
        <input type="submit" name="login" class="btn btn-info" value= "<%= ('Login') %>" />
        <%= check_box_tag 'remember_me' %> <small><%= ('Remember me')%></small> 

      <% end %>

    </div>
  </div>
</div>
</div>